
extends components

block variables
  - var pageID = 'api/bar-chart'
  - var pageTitle = 'Bar Chart'
  - var prism = true

block article
  h3.ui-header-primary= pageTitle
  .ui-container-grid
    .ui-grid-50.ui-mobile-expand
      #simple-bar-chart-svg
    .ui-grid-50.ui-mobile-expand
      #simple-bar-chart-canvas
  div
    pre: code.language-markup.
      &lt;div id="simple-bar-chart-svg"&gt;&lt;/div&gt;
      &lt;div id="simple-bar-chart-canvas"&gt;&lt;/div&gt;

      &lt;script&gt;
        var data = [];
        d3.barChart(data, { id: 'simple-bar-chart-svg' });
        d3.barChart(data, {
          id: 'simple-bar-chart-canvas',
          renderer: 'canvas'
        });
      &lt;/script&gt;

block append foot
  script.
    var data = [];
    d3.barChart(data, { id: 'simple-bar-chart-svg' });
    d3.barChart(data, {
      id: 'simple-bar-chart-canvas',
      renderer: 'canvas'
    });
