
extends components

block variables
  - var pageID = 'api/choropleth-map'
  - var pageTitle = 'Choropleth Map'
  - var prism = true

block article
  h3.ui-header-primary= pageTitle
  .ui-container-grid
    .ui-grid-50.ui-mobile-expand
      #choropleth-map-geojson
    .ui-grid-50.ui-mobile-expand
      #choropleth-map-topojson
  div
    pre: code.language-markup.
      &lt;div id="choropleth-map-geojson"&gt;&lt;/div&gt;
      &lt;div id="choropleth-map-topojson"&gt;&lt;/div&gt;

      &lt;script&gt;
        var data = [];
        d3.json('../dist/maps/china.geo.json', function (geojson) {
          d3.choroplethMap(data, {
            id: 'choropleth-map-geojson',
            map: {
              name: 'china',
              data: geojson
            },
            coloring: 'topological'
          });
        });
        d3.json('../dist/maps/world.topo.json', function (topojson) {
          d3.choroplethMap(data, {
            id: 'choropleth-map-topojson',
            map: {
              name: 'world',
              data: topojson,
              object: 'countries'
            },
            projection: 'geoEquirectangular',
            coloring: 'topological'
          });
        });
      &lt;/script&gt;

block append foot
  script(src='../dist/topojson-2.2.0.min.js')
  script.
    var data = [];
    d3.json('../dist/maps/china.geo.json', function (geojson) {
      d3.choroplethMap(data, {
        id: 'choropleth-map-geojson',
        map: {
          name: 'china',
          data: geojson
        },
        coloring: 'topological'
      });
    });
    d3.json('../dist/maps/world.topo.json', function (topojson) {
      d3.choroplethMap(data, {
        id: 'choropleth-map-topojson',
        map: {
          name: 'world',
          data: topojson,
          object: 'countries'
        },
        projection: 'geoEquirectangular',
        coloring: 'topological'
      });
    });
