
extends ../layout

mixin link(page, text)
  li(class={'ui-state-active': pageID === ('api/' + page)})
    a(href=appDocs + '/api/' + page + '.html')= text

block aside
  h3.ui-header-primary Components
  ul.ui-list-group.ui-block-fluid.ui-zoom-large.ui-text-capitalize
    +link('bar-chart', 'Bar Chart')
    +link('pie-chart', 'Pie Chart')
    +link('line-chart', 'Line Chart')
    +link('bubble-chart', 'Bubble Chart')
    +link('radar-chart', 'Radar Chart')
    +link('sunburst-chart', 'Sunburst Chart')
    +link('choropleth-map', 'Choropleth Map')
