
extends components

block variables
  - var pageID = 'api/pie-chart'
  - var pageTitle = 'Pie Chart'
  - var prism = true

block article
  h3.ui-header-primary= pageTitle
  .ui-container-grid
    .ui-grid-50.ui-mobile-expand
      #pie-chart-default
    .ui-grid-50.ui-mobile-expand
      #pie-chart-donut
  div
    pre: code.language-markup.
      &lt;div id="pie-chart-default"&gt;&lt;/div&gt;
      &lt;div id="pie-chart-donut"&gt;&lt;/div&gt;

      &lt;script&gt;
        var data = [
          { browser: 'Chrome', percentage: 0.4707 },
          { browser: 'Firefox', percentage: 0.1543 },
          { browser: 'IE', percentage: 0.1106 },
          { browser: 'Opera', percentage: 0.0217 },
          { browser: 'Others', percentage: 0.0380 },
          { browser: 'Safari', percentage: 0.2047 }
        ];
        d3.shuffle(data);
        d3.pieChart(data, { id: 'pie-chart-default' });
        d3.pieChart(data, {
          id: 'pie-chart-donut',
          renderer: 'canvas',
          sort: 'descending(percentage)',
          donutRatio: 0.5,
          stroke: '#fff'
        });
      &lt;/script&gt;

block append foot
  script.
    var data = [
      { browser: 'Chrome', percentage: 0.4707 },
      { browser: 'Firefox', percentage: 0.1543 },
      { browser: 'IE', percentage: 0.1106 },
      { browser: 'Opera', percentage: 0.0217 },
      { browser: 'Others', percentage: 0.0380 },
      { browser: 'Safari', percentage: 0.2047 }
    ];
    d3.shuffle(data);
    d3.pieChart(data, { id: 'pie-chart-default' });
    d3.pieChart(data, {
      id: 'pie-chart-donut',
      renderer: 'canvas',
      sort: 'descending(percentage)',
      donutRatio: 0.5,
      stroke: '#fff'
    });
