
extends components

block variables
  - var pageID = 'api/pie-chart'
  - var pageTitle = 'Pie Chart'
  - var prism = true

block article
  h3.ui-header-primary= pageTitle
  .ui-container-grid
    .ui-grid-50.ui-mobile-expand
      #pie-chart-default
    .ui-grid-50.ui-mobile-expand
      #pie-chart-donut
  div
    pre: code.language-markup.
      &lt;div id="pie-chart-default"&gt;&lt;/div&gt;
      &lt;div id="pie-chart-donut"&gt;&lt;/div&gt;

      &lt;script&gt;
        d3.json('../data/browser-usage-share.json', function (data) {
          d3.pieChart(data, { id: 'pie-chart-default' });
        });
        d3.json('../data/browser-usage-share.json', function (data) {
          d3.shuffle(data);
          d3.pieChart(data, {
            id: 'pie-chart-donut',
            sort: 'descending(percentage)',
            arcs: {
              donutRatio: 0.5,
              stroke: '#fff'
            },
            labels: {
              show: true
            }
          });
        });
      &lt;/script&gt;

block append foot
  script.
    d3.json('../data/browser-usage-share.json', function (data) {
      d3.pieChart(data, { id: 'pie-chart-default' });
    });
    d3.json('../data/browser-usage-share.json', function (data) {
      d3.shuffle(data);
      d3.pieChart(data, {
        id: 'pie-chart-donut',
        sort: 'descending(percentage)',
        arcs: {
          donutRatio: 0.5,
          stroke: '#fff'
        },
        labels: {
          show: true
        }
      });
    });
