
extends components

block prepend variables
  - const pageID = 'api/sunburst-chart'
  - const pageTitle = 'Sunburst Chart'
  - const prism = true

block article
  h3.ui-header-primary
    span= pageTitle
    label.ui-float-right(for='sunburst-chart-src')
      i.ui-zoom-small(data-schema-icon='code')
  .ui-container-grid
    .ui-grid-50.ui-mobile-expand
      #sunburst-chart-default
    .ui-grid-50.ui-mobile-expand
      #sunburst-chart-sorted
  .ui-toggle-target.ui-skip-large
    input#sunburst-chart-src(type='checkbox' checked)
    div
      pre: code.language-markup.
        &lt;div id="sunburst-chart-default"&gt;&lt;/div&gt;
        &lt;div id="sunburst-chart-sorted"&gt;&lt;/div&gt;

        &lt;script&gt;
          d3.json('../data/arxiv-categories.json', function (data) {
            d3.shuffle(data);
            d3.sunburstChart(data, { id: 'sunburst-chart-default' });
            d3.sunburstChart(data, {
              id: 'sunburst-chart-sorted',
              sort: 'descending(count)',
              donut: {
                show: true
              },
              tooltip: {
                html: function (d) {
                  var category = d.data.category;
                  var count = d.data.count;
                  var total = (d.parent || d).data.count;
                  var percent = (100 * count / total).toPrecision(3) + '%';
                  return category + ': ' + count + ' (' + percent + ')';
                }
              }
            });
          });
        &lt;/script&gt;

block append foot
  script.
    d3.json('../data/arxiv-categories.json', function (data) {
      d3.shuffle(data);
      d3.sunburstChart(data, { id: 'sunburst-chart-default' });
      d3.sunburstChart(data, {
        id: 'sunburst-chart-sorted',
        sort: 'descending(count)',
        donut: {
          show: true
        },
        tooltip: {
          html: function (d) {
            var category = d.data.category;
            var count = d.data.count;
            var total = (d.parent || d).data.count;
            var percent = (100 * count / total).toPrecision(3) + '%';
            return category + ': ' + count + ' (' + percent + ')';
          }
        }
      });
    });
