
extends components

block prepend variables
  - const pageID = 'api/terrestrial-globe'
  - const pageTitle = 'Terrestrial Globe'
  - const prism = true

block article
  h3.ui-header-primary
    span= pageTitle
    label.ui-float-right(for='terrestrial-globe-src')
      i.ui-zoom-small(data-schema-icon='code')
  .ui-container-grid
    .ui-grid-50.ui-mobile-expand
      #terrestrial-globe-default
    .ui-grid-50.ui-mobile-expand
      #terrestrial-globe-rotation
  .ui-toggle-target.ui-skip-large
    input#terrestrial-globe-src(type='checkbox' checked)
    div
      pre: code.language-markup.
        &lt;div id="terrestrial-globe-default"&gt;&lt;/div&gt;
        &lt;div id="terrestrial-globe-rotation"&gt;&lt;/div&gt;

        &lt;script&gt;
          d3.json('../dist/maps/world.topo.json', function (topojson) {
            d3.json('../data/world-countries-population.json', function (data) {
              d3.terrestrialGlobe(data, {
                id: 'terrestrial-globe-default',
                map: {
                  key: 'name',
                  name: 'world',
                  data: topojson,
                  object: 'countries',
                  center: [103.3886, 35.5636]
                }
              });
              d3.terrestrialGlobe([], {
                id: 'terrestrial-globe-rotation',
                map: {
                  key: 'name',
                  name: 'world',
                  data: topojson,
                  object: 'countries'
                },
                graticules: {
                  show: true
                },
                rotation: {
                  autoplay: true,
                  velocity: [0.01, 0.02, 0.03]
                },
                regions: {
                  show: false
                }
              });
              d3.choroplethMap(data, {
                id: 'terrestrial-globe-rotation',
                standalone: false,
                map: {
                  key: 'name',
                  name: 'world',
                  data: topojson,
                  object: 'countries',
                  rotate: [-103.3886, -35.5636],
                  scale: 0.5
                },
                regions: {
                  stroke: '#fff'
                },
                projection: 'geoOrthographic',
                coloring: 'topological'
              });
            });
          });
        &lt;/script&gt;

block append foot
  script(src=appDist + '/topojson-2.2.0.min.js')
  script.
    d3.json('../dist/maps/world.topo.json', function (topojson) {
      d3.json('../data/world-countries-population.json', function (data) {
        d3.terrestrialGlobe(data, {
          id: 'terrestrial-globe-default',
          map: {
            key: 'name',
            name: 'world',
            data: topojson,
            object: 'countries',
            center: [103.3886, 35.5636]
          }
        });
        d3.terrestrialGlobe([], {
          id: 'terrestrial-globe-rotation',
          map: {
            key: 'name',
            name: 'world',
            data: topojson,
            object: 'countries'
          },
          graticules: {
            show: true
          },
          rotation: {
            autoplay: true,
            velocity: [0.01, 0.02, 0.03]
          },
          regions: {
            show: false
          }
        });
        d3.choroplethMap(data, {
          id: 'terrestrial-globe-rotation',
          standalone: false,
          map: {
            key: 'name',
            name: 'world',
            data: topojson,
            object: 'countries',
            rotate: [-103.3886, -35.5636],
            scale: 0.5
          },
          regions: {
            stroke: '#fff'
          },
          projection: 'geoOrthographic',
          coloring: 'topological'
        });
      });
    });
